# Dependencias e instalaciones
node_modules/
BackEnd/nemcatacoa-api/node_modules/

# Builds y salidas
dist/
build/
coverage/

# Configuraciones locales y secretos
.env
*.env
BackEnd/nemcatacoa-api/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Sistemas operativos / editores
.DS_Store
Thumbs.db
.idea/
.vscode/

# Otros
tmp/
*.sqlite
